<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrAssist"
        tools:targetApi="31">
        <activity
            android:name=".TestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ListOfPatients"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AppHomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.PatientDetailsScreen"
            android:exported="true" />
        <activity
            android:name=".home.PatientHomeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".auth.VerifyPhoneOtpActivity"
            android:exported="true" />
        <activity
            android:name=".home.DoctorChatActivity"
            android:exported="true" />
        <activity
            android:name=".user.UserDetailsScreen"
            android:exported="true" />
        <activity
            android:name=".home.DoctorHomeActivity"
            android:exported="true" />
        <activity
            android:name=".home.PrescribePatientFormScreen"
            android:exported="true" />
        <activity
            android:name=".home.ListOfPatients"
            android:exported="true" />
    </application>

</manifest>